*.rar
*.pdf
/Aula1/nbproject/private/
/Aula1/build/
/Aula2/nbproject/private/
/Aula2/build/
/Operacoes/nbproject/private/
/Operacoes/build/
/Operacoes/dist/
/Imc/nbproject/private/
/Imc/build/
/Imc/dist/
/AulaEncapsulamentoVeiculoAlunos/build/
